<main>
    <section id="not-found-page">
        <!-- Do not forget to change the path to the image -->
        <h1>404</h1>
        <h2>Page Not Found</h2>
        <img class="error-page" src="/images/404.png">
    </section>
</main>